header, nav, footer, section, article, div {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding:  0;
  width: 100%;
  height: 100%;
}

.content{
  display: flex;
  flex-wrap: wrap;
}

.spacer-up{
  padding-top: 30px;
}

.spacer-down{
  padding-bottom: 15px;
}

.about-me{
  background-image:  image-set(url("../../img/resize/back-800_medium_1x.jpg") 1x,url("../../img/resize/back-1600_large_2x.jpg") 2x);
  background-image:  -webkit-image-set(url("../../img/resize/back-800_medium_1x.jpg") 1x,url("../../img/resize/back-1600_large_2x.jpg") 2x);
  background-image:  url("../../img/resize/back-800_medium_1x.jpg") ;
  background-size: cover;
  align-items: center;
  height: 100vh;
  display: flex;
  justify-content: space-around;
}

.img-container{
  max-width: 50%;
  width: 300px;
  height: 300px;
}

.my-img{
  display: block;
  margin: 0 auto;
  height: 100%;
  width: auto;
  border: 2px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
 }

img{
  max-width: 100%;

}

.bio{
  max-width: 50%;
}

.bio p{
  color: #ECEDDC;
  text-align:center;
  font-size: 1.2em;
}

.more-info{
  display: none;
}

h2{
  padding-top: 10px;
  padding-bottom: 30px;
  text-align:center;
}

.featured-work{
  max-width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.featured-work-content{
  display: flex;
  flex-wrap: wrap;
}

.other-work{
  max-width: 100%;
  margin: 0 10px;
}

.other-work-content{
  display: flex;
  flex-wrap: wrap;
}

.card{
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-right: 20px;
}
.card:last-child{
  margin: 0px;
}
.card:hover {
  box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2);
}

.card-image{
  max-width: 100%;
}

.card-info{
  max-width: 100%;
  display: flex;
  align-items: center;
  margin: 20px;
  padding-top: 10px;
  height: 100%;
}

.card-title{
  width: 30%;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  text-align: center;
}

.card-description{
  width: 70%;
  padding: 0px 10px;
}

.fw-card{
  width: calc((100% - 40px)/3);
}

.ot-card{
  width: calc((100% - 60px)/4);
}

.ot-card .card-info{
  flex-direction: column;
}

.ot-card .card-title{
  width: 100%;
  margin-right: 0;
  margin-bottom: 10px;
}

.ot-card .card-description{
  width: 100%;
}

footer{
  margin-top: 20px;
  margin-bottom: 20px;
}
footer nav{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
footer a {
  margin: 5px;
}
a:hover{
  text-decoration: none;
}
